# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
.env

# -----------------------------
# OS junk
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.DS_Store

# -----------------------------
# Logs + Cache
# -----------------------------
*.log
tmp/
.cache/

# -----------------------------
# DVC folders to EXCLUDE
# (We download models inside container, we do NOT copy them)
# -----------------------------
data/
outputs/
snapshots/
aml_runs/

# Allow tracking pointers
!models/*.dvc
!models/**/*.dvc

# Ignore DVC cache (huge)
.dvc/cache/
.dvc/tmp/

# -----------------------------
# DO NOT COPY .git into the image
# -----------------------------
.git/