# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
.env

# -----------------------------
# OS junk
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.DS_Store

# -----------------------------
# Logs + Cache
# -----------------------------
*.log
tmp/
.cache/

# -----------------------------
# DVC folders to EXCLUDE
# (We download models inside container, we do NOT copy them)
# -----------------------------
data/
src/
outputs/
snapshots/
aml_runs/

README.md

# Allow tracking pointers
!models/*.dvc
!models/**/*.dvc

# Ignore DVC cache (huge)
.dvc
.dvc/cache/
.dvc/tmp/

# -----------------------------
# DO NOT COPY .git into the image
# -----------------------------
.git/

.gitignore
deploy.sh
dvc.lock
dvc.yaml
params.yaml
README.me
.dvcignore
.dockerignore